<div>

    <div class="title-container-inventory">

        <h2>Inventory</h2>

        <div class="main-inventory-content-container">

            <div class="main-inventory-content-container-box box-mintspray">
                <div class="container-box-left">
                    <div class="container-box-left-top left-top-mintspray">Mintspray</div>
                    <div class="container-box-left-bottom"></div>
                </div>
                <div class="container-box-right container-box-mintspray"></div>
            </div>

            <div class="main-inventory-content-container-box box-toothbrush">
                <div class="container-box-left">
                    <div class="container-box-left-top left-top-toothbrush">Toothbrush</div>
                    <div class="container-box-left-bottom"></div>
                </div>
                <div class="container-box-right container-box-toothbrush"></div>
            </div>

            <div class="main-inventory-content-container-box box-mosquito">
                <div class="container-box-left">
                    <div class="container-box-left-top left-top-mosquito">Anti-mosquito</div>
                    <div class="container-box-left-bottom"></div>
                </div>
                <div class="container-box-right container-box-mosquito"></div>
            </div>




            <div class="main-inventory-content-container-box box-balsam">
                <div class="container-box-left">
                    <div class="container-box-left-top left-top-balsam">Lip balsam</div>
                    <div class="container-box-left-bottom"></div>
                </div>
                <div class="container-box-right container-box-balsam"></div>
            </div>

            <div class="main-inventory-content-container-box box-tauro">
                <div class="container-box-left">
                    <div class="container-box-left-top left-top-tauro">Tauro</div>
                    <div class="container-box-left-bottom"></div>
                </div>
                <div class="container-box-right container-box-tauro"></div>
            </div>

            <div class="main-inventory-content-container-box box-activex">
                <div class="container-box-left">
                    <div class="container-box-left-top left-top-activex">Active X</div>
                    <div class="container-box-left-bottom"></div>
                </div>
                <div class="container-box-right container-box-activex"></div>
            </div>

        </div>

    </div>

</div>
