.title-container-inventory{

    text-align: center;

}

.title-container-inventory h2{

    position: relative;
    color: white;
    z-index: 999;
    top: -30px;

}

.main-inventory-content-container{

    width: 1500px;
    height: 750px;
    margin: auto;
    margin-left: -15px;
    position: relative;

    .main-inventory-content-container-box{

        width: 466px;
        height: 337.5px;
        background-color: white;
        display: inline-block;
        margin-left: 25px;
        margin-top: 25px;
        position: relative;
        overflow: auto;

    }

    .container-box-top{

        position: relative;
        width: 100%;
        height: 37.5px;
        text-align: center;
        line-height: 37.5px;
        font-size: 25px;
        font-weight: bold;
        color: black;

    }

    .box-mintspray.box-balsam{

        margin-left: 0px;

    }

}
