<div>

    <div class="title-container-inventory">

        <h2>Inventory</h2>

        <div class="main-inventory-content-container">

            <div class="main-inventory-content-container-box box-mintspray">
                <div class="container-box-top">Mintspray</div>
                <div class="container-box-center"></div>
                <div class="container-box-bottom"></div>
            </div>

            <div class="main-inventory-content-container-box box-toothbrush">
                <div class="container-box-top">Toothbrush</div>
                <div class="container-box-center"></div>
                <div class="container-box-bottom"></div>
            </div>

            <div class="main-inventory-content-container-box box-mosquito">
                <div class="container-box-top">Anti-mosquito</div>
                <div class="container-box-center"></div>
                <div class="container-box-bottom"></div>
            </div>




            <div class="main-inventory-content-container-box box-balsam">
                <div class="container-box-top">Lip balsam</div>
                <div class="container-box-center"></div>
                <div class="container-box-bottom"></div>
            </div>

            <div class="main-inventory-content-container-box box-tauro">
                <div class="container-box-top">Tauro</div>
                <div class="container-box-center"></div>
                <div class="container-box-bottom"></div>
            </div>

            <div class="main-inventory-content-container-box box-activex">
                <div class="container-box-top">Active-X</div>
                <div class="container-box-center"></div>
                <div class="container-box-bottom"></div>
            </div>

        </div>

    </div>

</div>
