<div>

    <div class="title-container-new-locations">
        <h2>New location</h2>
    </div>
    <hr/>
    <div class="main-new-location-content-container">
        <label>Location name</label>
        <input ng-model="location.title" type="text" class="form-control"/>
        <br/>
        <label>Date added</label>
        <input ng-model="location.body" type="date" class="form-control"></input>
        <br/>
        <label>Address</label>
        <input ng-model="location.link" type="text" class="form-control"/>
        <br/>

        <!-- <label>Cover image</label>
        <br/>
        <div class="drop-zone" ngf-drop="uploadFiles($file)" ngf-drag-over-class="'dragover'">
            <div class="btn btn-primary" ngf-select="uploadFiles($file)">Upload cover image</div>
        </div>
        <p ng-if="location.coverImage">{{location.coverImage}}</p>
        <br/>
        <div class="progress" ng-if="isUploading">
            <div class="progress-bar progress-bar-striped active" role="progressbar"
                 aria-valuenow="{{uploadData.progress}}" aria-valuemin="0" aria-valuemax="100" style="width:{{uploadData.progress}}%">
                {{uploadData.progress}}%
            </div>
        </div>  !-->

        <div class="btn btn-success pull-right" ng-disabled="isCreating" ng-click="onCreateClick()">Create</div>

    </div>

</div>
