.sidebar-container{

    height: 100vh;
    float: left;

    .sidebar{

        width: 200px;
        height: 100vh;
        background-color: #1916ee;

    }

    .sidebar-button{

        padding: 10px;
        transition: all 0.3s;
        border-bottom: 0.5px solid #fff;

    }

    .sidebar-button:hover{

        background-color: gray;
        cursor: pointer;

    }

    .sidebar-button-active{

        background-color: gray;
        color: black;

    }

    .sidebar-button-active:hover{

        background-color: #616161;

    }

}
