<div class="sidebar-container" ng-controller="SidebarCtrl">

    <div class="sidebar">
        <div class="dashboard-text-container">
            Dashboard
        </div>
        <div class="sidebar-button" ui-sref-active="sidebar-button-active" ui-sref="home">Home</div>
        <div class="sidebar-button" ui-sref-active="sidebar-button-active" ui-sref="projects">Projects</div>
        <div class="sidebar-button" ui-sref-active="sidebar-button-active" ui-sref="inventory">Inventory</div>
        <div class="sidebar-button" ui-sref-active="sidebar-button-active" ui-sref="locations">Locations</div>
    </div>

</div>


