.sidebar-container{

    height: 100vh;
    float: left;

    .sidebar{

        width: 200px;
        height: 100vh;
        background-color: #222d32;
        top: 50px;
        position: absolute;
        overflow: auto;

    }

    .sidebar-button{

        padding: 10px;
        transition: all 0.3s;
        border-bottom: 0.5px solid #fff;
        color: white;

    }

    .sidebar-button:hover{

        background-color: gray;
        cursor: pointer;

    }

    .sidebar-button-active{

        background-color: #dfe3e8;
        color: black;

    }

    .sidebar-button-active:hover{

        background-color: #616161;

    }

    .dashboard-text-container{

        width: 100%;
        height: 40px;
        line-height: 40px;
        overflow: auto;
        position: relative;
        text-align: center;
        color: #fff;
        font-size: 18px;
        border-bottom: 3px solid white;
        box-sizing: content-box;

    }

}
