<div>

    <div class="title-container-locations">

        <h2>Locations</h2>

    </div>

    <div class="locations-map-container">
        <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1waH7IxZEHFvVFU0kFmSuxEPEuYY" class="locations-map"></iframe>
    </div>



    <div class="locations-list-container">

        <div class="btn btn-primary" ui-sref="new-location">New location</div>

        <table class="table">
            <thead>
            <tr>
                <th>
                    Location name
                </th>
                <th>
                    Date added
                </th>
                <th>
                    Address
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="location in locations">
                <td>
                    {{location.locationName}}
                </td>
                <td>
                    {{location.dateAdded}}
                </td>
                <td>
                    {{location.address}}
                </td>
                <td>
                    <div
                        class="btn btn-danger btn-xs"
                        ng-click="deleteClick(location._id)">
                        Delete
                    </div>
                    <div
                        class="btn btn-primary btn-xs"
                        ui-sref="edit-location({id:location._id})">
                        Edit
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

    </div>

</div>
