<div>

    <div class="title-container home">

        <h2>Home</h2>

    </div>

    <h3>Quick overview</h3>

    <div class="quick-inventory-overview-data-wrapper">

        <h4>Inventory review</h4>

        <div class="quick-inventory-overview-data-boxes">

            <div class="quick-inventory-data-container" ui-sref="inventory">
                <div class="left">
                    <h5>Mintspray</h5>
                </div>
                <div class="middle"></div>
                <div class="right mintspray"></div>
            </div>

            <div class="quick-inventory-data-container" ui-sref="inventory">
                <div class="left">
                    <h5>Toothbrush</h5>
                </div>
                <div class="middle"></div>
                <div class="right toothbrush"></div>
            </div>

            <div class="quick-inventory-data-container" ui-sref="inventory">
                <div class="left">
                    <h5>Anti-mosquito</h5>
                </div>
                <div class="middle"></div>
                <div class="right mosquito"></div>
            </div>





            <div class="quick-inventory-data-container" ui-sref="inventory">
                <div class="left">
                    <h5>Lip balsam</h5>
                </div>
                <div class="middle"></div>
                <div class="right balsam"></div>
            </div>

            <div class="quick-inventory-data-container" ui-sref="inventory">
                <div class="left">
                    <h5>Tauro</h5>
                </div>
                <div class="middle"></div>
                <div class="right tauro"></div>
            </div>

            <div class="quick-inventory-data-container" ui-sref="inventory">
                <div class="left">
                    <h5>ActiveX</h5>
                </div>
                <div class="middle"></div>
                <div class="right activex"></div>
            </div>

        </div>

    </div>

    <div class="home-bottom-wrapper">

        <h4>Locations overview</h4>

        <div class="home-bottom-container">

            <div class="home-bottom-maps-container">
                <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1waH7IxZEHFvVFU0kFmSuxEPEuYY" class="maps-container" ui-sref="locations"></iframe>
            </div>

            <div class="home-bottom-statistics-container" ui-sref="locations">

                <h5><b>Location statistics</b></h5>

                <div class="home-bottom-statistics-left">

                    <div class="statictis-information locations-number">Number of locations</div>

                    <div class="statictis-information acquiring">Acquiring ...</div>

                    <div class="statictis-information to-visit">To visit ...</div>

                </div>

                <div class="home-bottom-statistics-right">

                    <div class="home-bottom-statistics-right-number number-top">9</div>
                    <div class="home-bottom-statistics-right-number number-middle">14</div>
                    <div class="home-bottom-statistics-right-number number-bottom">78</div>

                </div>

            </div>

        </div>

    </div>

</div>



























